/* CSS sytle sheet for CAB230: Web Computing. Assigment 2018.
 * Dijana Duricic: n9158324;
 * Josh Nguyen:
 */

/* ----- FONTS --------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* ----- GENERAL ------------------------------------------------------------------------------------------------------- */
*{
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif; 
} /* Set all padding and margins to 0 */

a {
	color: #ff4423;
	text-decoration: none;
} /* customizing link colour and removing the underline on ALL links */

a:hover {
	color: Turquoise;
} /* on hovering over a link the text will turn turquoise, applies to ALL links */

body {
	/*background: url("img/light_geometric.png") repeat;*/
	background-color: rgba(255, 68, 35, 0.02);
	

}
/* ----- HEADER ITEMS -------------------------------------------------------------------------------------------------- */
#header {
	width: 100vw;
	min-height: 55px; /* min-height, so that size can be increased for dynamic elements */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	background-color: #ffffff;
	color: #ff4423; /* color of text in the diiv including h1:header */
	position: fixed;
	top: 0;
	
	
	box-shadow: 0 3pt 5pt rgb(255, 239, 239); /* backup colour in case browser doesn't support transparency */
	box-shadow: 0 3pt 5pt rgba(255, 68, 35, 0.05);
	
	
	border-bottom: 1px solid rgb(255, 211, 211); /* backup colour in case browser doesn't support transparency */
	border-bottom: 1px solid rgba(255, 68, 35, 0.2);
	

} /* Entire header section; including title, search bar and user login. inline and spaced evenly with 20pt padding. */

#header h1 {
	margin: 5pt;
	padding-bottom: 3pt;
} /* Spacing aroung h1:header/title */

#header h1:hover {
	cursor: pointer;
} /* Creates appearance/indication of link for the title text */

#search {
	display: flex;
	align-items: center;
	background-color: rgba(255, 68, 35, 0.1);
	margin: 5pt;
	margin-bottom: 0;
	padding: 3pt 3pt 3pt 10pt;
	width: calc(30vw + 19pt);
} /* Search bar section, including text input field and search icon, width includes text input size + search icon size,
   * designed such that it appears as though the search icon is inside the text input field. */

::placeholder {
	color: rgba(255, 68, 35, 0.3);
} /* Changed the colour of place holder text so that placeholder can be distinguished from input */

#search_bar {
	height: 15pt;
	width: 30vw;
	border: 0;
	background-color: transparent;
	color: rgb(255, 68, 35);
} /* text input field for search bar, width % relative to the width of the browser window */

#search_bar:focus {
	outline: 0;
} /* removing the select outline for when the user clicks on the search field, not to destroy the illusion that the
   * search icon is inside the text input field */

#search_icon {
	height: 15pt;
	padding: 2pt;
} /* svg search icon */

#search_icon, #current_location_button, #suburbs_list, .star_rating, #advanced_search_link, #advanced_search_link {
	cursor: pointer;
} /* applies a "hand" cursor, used for links (the above items aren't styled as links by default), to all of the above items*/


#line {
	display: inline;
} /* A divider line that is defaulted to block since it's in a <p> tag, set it to inline so that the login|register links
   * are on the same line */

#search_section {
	margin-top: 5pt;
	max-height: 64px;
	overflow: hidden;
	
	transition: max-height 1s;
	animation-delay: 0s;
}/* Initial state of the search section, to keep the header and page concise and clean (also I didn't read on the brief that there needs to be extra search methods
  * and creating an entire new search page is a bit of a hassle -__-), transition is applied for when the class changes */

#search_section.advanced_search_clicked {
	max-height: 1000px;
	
	transition: max-height 2s;
} /* Altered state of the search section, when the user presses the advanced search link the header will expand displaying the extra search options
   * the functionality of this has been done in javascript */

#suburbs_list {
	border: 0;
	background-color: transparent;
	color: rgba(255, 68, 35, 0.5);
	width: 30%;
	margin: 0 20pt;
} /* customise suburbs drop down section to be consistent with page colour scheme */

#suburbs_list:focus, #current_location_button:focus {
	outline: 0;
} /* removes the outline that appears on form boxes when clicked (the one that notifies the user that it is active) */

#submit_button {
	visibility: hidden;
	display: none;
	height: 0;
} /* Hides the submit button so that the svg search icon can be percieved as the submit button */

#advanced_search_link {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	margin-bottom: 2pt;
	width: calc(30vw + 30pt);

} /* creates a box where the advanced search link can be positioned appropriately */


#current_location_button {
	background-color: rgba(255, 68, 35, 0.1);
	color: rgba(255, 68, 35, 0.5);
	padding: 3pt;
	border: 0;
} /* customise button so that is is consistent with the page colour scheme */


#advanced_search_section form {
	display: flex;
	justify-content: space-between;
	vertical-align: bottom;
	margin: 10pt 0;

	width: calc(30vw + 30pt);
} /* displays the form items next to eachother and spaced evenly */




/* ----- CONTENT ITEMS ------------------------------------------------------------------------------------------------- */

#content { 
	width: 80vw;
	min-height: 80vh;/* so that the footer always remains near the bottom of the screen rather than intruding into the content. */
	margin: 40pt auto;


} /* Sets a width that is 80% of the 'viewport' (window) and sets the content to centre */

ul {
	display: flex;
	list-style: none;
	margin-top: 8pt;
	margin-bottom: 30pt;
} /* Sets list items to flex: items will sit next to eachother or depending on flexbox settings used for the items. */

#top_spots {
	flex-wrap: wrap;
	justify-content: space-around;
} /* Sets list item with the flexbox setting for wrap: when the items go outside of the div width they move to the next line. space-around evenly spaces content
   * with equal space inbetween items and on the outside of the items. */

#top_spots li {
	width: calc(80vw/4);
	height: calc(80vw/4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} /* dynamically calculates size based on the viewport size. organises and aligns content */

.location_image {
	/*max-width: calc(80vw/5);*/
	max-height: calc(80vw/5);
	padding-bottom: 5pt;
	margin: 0 0 0 -50%;
} /* makes sure the height of the image doesn't exceed the height of the div and centres the image*/

.crop {
	justify-content: center;
	width: calc(80vw/5);
	height: calc(80vw/5);
	overflow: hidden;

} /* crops the content of the div if it is too wide */

/* ----- FOOTER ITEMS -------------------------------------------------------------------------------------------------- */

#footer {
	width: 80vw;
	margin: 20pt auto;
	text-align: center;
	color: #ff4423;
} /* spaces and aligns content (currently text) such that it is aligned centered */

/* ----- SEARCH RESULTS PAGE ---------------------------------------------------------------------------------------------- */

.single_result {
	margin: 0 ;
	padding: 10pt;
	display: flex;
	

} /* adds spacing around reach result iten, and displays the image next to the accosiated text */

.search_result_text {
	margin: 10pt;
} /* spaces the text from the image in the search results */

.search_result_img {
	width: 10vw;
	height: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 10pt;
} /* Crops the results image to a reasonable size */

.location_src_img {
	max-height: 10vw;
	padding-bottom: 5pt;
	margin: 0 0 0 -50%;
} /* resizes and re-aligns the image to fit centered in the bounding box */

.results_container {
	display: flex;

}

#results_list {
	margin-top: 50px;
	width: 50%;
	max-height: 85vh;
	overflow-y: scroll;

} /* sets a max size for the container of results, such that the map can always be in view whilst the user is scrolling results */

#map {
width: 50%;
padding: 20pt;
padding-top: 30pt;
} /* Positions and resizes the map */

#map_crop {
	height: 30vw;
	width: 90%;
	margin: 10pt;
	overflow: hidden;	
} /* crops the map to a bounding div */

#status {
	visibility: hidden;
	height: 0;
}/* hides status as it is not required anymore (though map doesn't work if i just carelessly delete it so i need to fix that ...) */


#mapholder {
	
}/* does nothing right now */

#mapholder img {
	
}/* does nothing right now */

/* ----- REGISTER PAGE ---------------------------------------------------------------------------------------------------- */

#register_section {
	margin: 50pt;
	padding: 30pt;	
	display: flex;
	justify-content: center;
} /* spaces and aligns the register form */

.individual_input {
	width: 20vw;
	margin: 10pt;
	padding: 10pt;
	display: flex;
	justify-content: space-between;
} /* uniformly sizes and aligns input register form text boxes */

.submit_button {
	width: 20vw;
	margin: 20pt;
	padding: 30pt 10pt;
	display: flex;
	justify-content: center;
} /* bounding div for the submit button on the form (not the submit button itself), same width as form with contents centered  */







